@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Inspiration', cursive;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(10, 10, 10);
    overflow: hidden;
   
    
}
.navbar-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 4px 10px;
}


.navbar-nav{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.section-heading {
    color: #b61500;
    font-family: 'Inspiration', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    font-size: 45px;
}
footer{
    background-color: #b61500;
}

#logo{
    color:#b61500;
    font-weight: 900;
    font-size: 30px;
}
.navbar-brand{
    font-size: 30px;
}
.nav-item{
    font-size: 30px;
}


.intro h1{
    color: black;
    
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card{
    background: rgb(223, 151, 125);
    border-radius: 20px;
    border-style: none;
}
.mb-6{
    font-size: 45px;
    text-align: center;
    font-style: italic;
}


#services{
    background:#b61500;
    background-size: cover;
}
#contact{
    background:	#b61500;
    background-size: cover;
   
    
}
#menu{
    background-color: #6e2016;
}
#fm2{
    border: 1px solid black;
    background: #6e2016;
    color: white;
    font-size: 30px;
    width: 500px;
    margin-top: 20px;
   
}
#cart{
    height: 200px;
    width: 220px;
   align-self: center;
}
.form-group{
    padding: 20px;
}
.order{
    background: #6e2016;
}
.btn{
    background: brown;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
}
.refresh img{
    height: 300px;
    width: 500px;
    justify-items: center;
   
}
.small img{
    width: 500px;
    height:300px ;
}
.medium img{
    width: 500px;
    height: 300px;
}
.large img{
    width: 500px;
    height: 500px;
}


#landing-page{
    background-image: url(assets/pexels-cottonbro-3944308.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.introp{
    color: black;
    margin-top: 100px;
    text-decoration: wavy;
}
.intro-text{
    justify-content: flex-end;
}
.btn1{
    background-color: #b61500;
    border-radius: 20px;
    padding: 20px;
    color: black;
}
#jumbo{
    background-position: 50ex;
    background: whitesmoke;
}

  