*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: rgb(10, 10, 10);
    overflow: hidden;
    position: relative;
    margin: 20px;
    
}
.navbar-nav{
    display: flex;
    gap: 3em;
    font-size: 18px;
}
